<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>130754705923-r72a05jur5p7b0clvbflgmevmqmt6a1c.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.130754705923-r72a05jur5p7b0clvbflgmevmqmt6a1c</string>
	<key>API_KEY</key>
	<string>AIzaSyBdKubshYmoynF8_QjAyutjklywrOuQy0Q</string>
	<key>GCM_SENDER_ID</key>
	<string>130754705923</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>nwmsu.FlipTheBookApp</string>
	<key>PROJECT_ID</key>
	<string>flipthebookapp-113ff</string>
	<key>STORAGE_BUCKET</key>
	<string>flipthebookapp-113ff.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:130754705923:ios:6174eb2db974322eae2c36</string>
	<key>DATABASE_URL</key>
	<string>https://flipthebookapp-113ff-default-rtdb.firebaseio.com</string>
</dict>
</plist>